################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DUCKSolution/.vs/DUCKSolution/CopilotIndices/18.4.111.64248
/DUCKSolution/.vs/DUCKSolution.slnx/FileContentIndex
